@{
    Layout = "~/Views/Shared/_ChromeCast.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div ng-app="randoHome" class="jumbotron" ng-controller="chrome" ng-init="state = @Json.Encode(Model).ToString();">
    <h3 style="float:right">New in: {{count}}</h3>
    @Html.Partial("Cards")
</div>