<div ng-app="randoHome">
    <div class="jumbotron" ng-controller="game" ng-init="state = @Json.Encode(Model).ToString();">
        <div class="card-container">
            <p><a ng-click="draw()" class="btn btn-primary btn-large">Draw</a></p>
            @Html.Partial("Cards");
        </div>
    </div>
</div>
