<div class="card card-black">{{state.BlackCard.Text}}</div>
<div class="" ng-repeat="players in state.WhiteCards">
    <div class="card card-white" ng-repeat="card in players.Cards">{{card.Text}}</div>
</div>